@media screen and (min-width: 699px) {

  /* Side Bar */
  :root {
      --side-bar-width: 120px;
  }

  .side-bar {
    width: 130px;
    padding: 10px 15px;
    background-color: #000000;
    color: #ffffff;
    flex-direction: column;
}

  .logo {
      display: inline-block;
  }

  .logo-icon {
      display: none;
  }

  .nav-list span {
      display: inline;
  }

  .playlist {
      display: inline-block;
  }

  .home::before {
      display: inline-block;
  }

  .bottom-nav .download,
  .bottom-nav .profile {
      justify-content: flex-start;
  }

  .bottom-nav span {
      display: inline;
  }

  .bottom-nav img {
      display: inline;
  }

  .profile img {
      width: 25px;
      height: 25px;
  }

  .bottom-nav hr {
      display: block;
  }

  /* Bottom Block */
  .icons i {
      display: inline-block;
  }

  .icons .fa-heart {
      padding-bottom: 0;
      padding-right: 5px;
  }
}

/* Responsive Tablet */
@media screen and (min-width: 768px) {

  /* Main Section */
  :root {
    flex-wrap: wrap;
  }
}


@media (min-width:600px) {
    .row {
      flex-wrap: wrap;
    }
  
    .col {
        width: calc(100% / 2 - 10px);
    }
  }






  @media (min-width:1100px) {
    :root {
        --side-bar-width: 350px;
    }
    
    .row  {
      flex-wrap: wrap;
    }
  
    .col {
      width: calc(100% / 6 - 10px);
    }
  

  
    .heart {
      padding-top: 0px;
      padding-left: 4px;
    }
  
    .cover {
      padding-top:7px;
      padding-left: 4px;
    }
  }
  
 
  
